html, body {
    height: 100%;
    margin: 0;
}

#logoimg {
    width:300px;
    height: auto;
}

.home #logoimg {
    width: 600px;
    height: 300px;
}

body {
    display: flex;
    align-items: center; /* Centers vertically */
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

body.home {
    justify-content: center;  /* Centers horizontally */
}

.content {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

body {
    color:rgb(77, 131, 68);
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#nav {
    list-style-type: none;
}