<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='formcss.css') }}">
    </head>

    <body>
        <h1>Carbon Emissions Check!</h1>
        <p>How many carbon emissions did you generate today? Sproutsby will know if you lie... do your best to approximate!</p>
        <br>

        <p>Electric Usage</p>

        <form action="/log" method="post">
            <label for="eTime">How many hours did you use electronics for today?</label><br>
            <input type="number" id="eTime" name="eTime" max="24" min='0'><br>
            <label for="eLights">How many hours did you leave your lights on for?</label><br>
            <input type="number" id="eLights" name="eLights" max="24" min ='0'>
            <br>

            <p>Vehicle Usage</p>

        
            <label for="vTime">How many hours did you spend using a personal vehicle?</label><br>
            <input type="number" id="vTime" name="vTime" max="24" min='0'><br>
            <label for="ptTime">How many hours did you spend in public transit?</label><br>
            <input type="number" id="ptTime" name="ptTime" max="24" min='0'><br>


            <br>

            <p>Foods</p>
        
            <label for="foods">How much meat did you eat today? </label>
            
            <select name="foods">
                <option value="0">None at all</option>
                <option value=".5">A little</option>
                <option value="1.5">A moderate amount</option>
                <option value="3">A little more than usual</option>
                <option value="6">A ton</option>  
            </select>

            <br>
            <input type="submit">
        </form>

        <br>

    </body>
</html>
