<!DOCTYPE html>
<html>
    <head>
        <title>fun website</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    </head>
    <body>
        <header>
            <h1>Welcome to Sproutsby's Carbon Emission Tracker!</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">register</a></li>
                    <li><button><a href="/log">Log your Emissions!</a></button></li>
                </ul>
            </nav>
        </header>
        <p>Welcome! Track your carbon emissions and see how they compare across the map. Most importantly, don't let Sproutsby down! </p>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
    
            </div>
        </main>
    </body>
</html>

