<!DOCTYPE html>
<html>
    <head>
        <title>Sproutsby</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    </head>
    <body class="{{bodyclass}}">
        <header>
            <!-- <h1>Welcome to Sproutsby's Carbon Emission Tracker!</h1> -->
            <img id="logoimg" src="/static/images/logo.png"/>
            {% if session['username'] %}
                <div class="top-right">Hello, {{ session['username'] }}</div>
            {% endif %}
            <p>Welcome! Track your carbon emissions and see how they compare across the map. Most importantly, don't let Sproutsby down! </p>
            <nav>
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    {% if session['username'] %}
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/log">Log your Emissions!</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>